---
layout: default
title: Gegen die Kultur
---
<div class="sticky">
{% include sticky.html %}
</div>
<div class="psa">
{% include psa.html %}
</div>

<div class="png2" id="sticker">
	<div class="ptext">
		<span class="bd trans">
Sticker
		</span>
	</div>
</div>
<section class="section section-light">
{% include sticker.html %}
</section>
<div class="png2" id="textil">
        <div class="ptext">
                <span class="bd trans">
Textil
                </span>
        </div>
</div>
<section class="section section-light">
{% include textil.html %}
</section>
<div class="png2" id="kontakt">
	<div class="ptext">
		<span class="bd trans">
Kontakt
		</span>
	</div>
</div>
<section class="section section-light">
{% include kontakt.html %}
</section>

<div class="png2" id="faq">
        <div class="ptext">
                <span class="bd trans">
Fragen und Antworten
                </span>
        </div>
</div>
<section class="section section-light">
{% include faq.html %}
</section>
