<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="icon" href="/pictures/favicon.png" type="image/png">
    <link rel="stylesheet" href="/assets/css/blog.css">
    <meta name="description" content="Antideutsche und Israelsolidarische Sticker">
    <meta name="keywords" content="Antideutsch,Israel,Sticker,Aufkleber,FCKBDS,FGHTBDS,Antifa,GegendieKultur,gdk">
    <meta name="author" content="Gegen die Kultur">
    <meta http-equiv="onion-location" content="http://5ivqymd2bwsqtgifpmx436ovnb5n7w5gw6l2xhejbl3fy2wxfzs2ruqd.onion" />
  </head>
  <body>
<div class="png1">
        <div class="ptext">
                <span class="bd">
Gegen die Kultur
                </span>
        </div>
</div>
    {{ content }}
  </body>
</html>
